/* regla general para todos el documentos */
*{  
    margin: 0em; /*magen */
    padding: 0em;
}

.body{
    background-color: rgb(243, 136, 4);
}

main{
    width: 1200px; /* ancho de main */
    margin: auto; /*magenes automaticos */
    
    


}

.seccion1{
   background-image:url(../img/circulo.png) ;
   height: 500px;
   width: 14%;
   float: left;
}
.seccion2{
    background-image: url(../img/guia.jpg);
    height: 30px;
    width: 20%;
    float: left;
}

.estilo_menu{
   margin-left: 25px;
   margin-top: 10px;
}
.seccion2{
    background-color: rgb(182, 245, 245);
    height: 500px;
    width: 80%;
    float: left;
 }

header{
    height: 100px;
    width: 1200px;
    margin-top: 20px;
    
   
    
}

.logo{
    
    width: 20%;
    background-color:rgb(14, 238, 238);
    height: 100px;
    background-image: url(../img/37.jpg); 
    background-size: 84px;
    background-repeat: 250px;
    background-position-x: center;
    float: left;
    
    
   
}

 .titulo{
  
    width: 80%;
   
   float: left;
   line-height: 100px;
   text-align: center;
   font-size: 40px;
   font-weight: bold;
   color: rgb(248, 27, 27);
   background-color: rgb(128, 13, 236); 
   text-shadow: 4px 4px rgb(10, 9, 9);
}

a:hover {
    background-color:rgb(240, 12, 240);
  }
